* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    /* background-color: #8A51FC; */
    height: 100vh;
    background-image: url('assets/imagebackground.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

/* .logo {
    width: 300px;
    display: block;
    margin: 20px auto;
} */

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 20px;
    padding: 44px 24px 23px;  
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    background: #772FD3;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}

@media(max-width: 1400px) {
    input, select {
        height: 30px;
        margin-bottom: 10px;
    }

    button {
        height: 40px;
    }

    section {
        margin-top: 25px;
    }

    img {
        width: 45px;
    }

    .arrow-img {
        width: 30px;
    }
}